<div class="row justify-content-center align-items-center g-3 py-2">
    <div class="col d-flex flex-column">
        <label class="mat-subheading-1">{{ facility.name }}</label>
        <label class="mat-caption">{{ facility.address }} {{ facility.city }}, {{ facility.state }} {{ facility.zip }}</label>
    </div>

    <div class="col-auto">
        <a mat-mini-fab [color]="link.buttonColor" (click)="view(facility)" class="mat-elevation-z0">
            <app-icon [name]="link.iconName" [color]="link.iconColor"></app-icon>
        </a>
    </div>
</div>